<!DOCTYPE html>
<html>
	<head>
		<title>Register new user</title>


		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/add-user.css'>
	</head>
	<body>
		{% include 'includes/navbar.html' with username=client.account.username status=client.status %}


		{% csrf_token %}


		<fieldset id = 'fieldset' align = 'right'>
			<legend align = 'center' id = 'legend'><a>Attention: All fields are required!</a></legend>
			<a>Name:</a><input type = 'text' name = 'name' id = 'name_field' required><br>
			<a>E-mail:</a><input type = 'email' name = 'email' id = 'email_field' required><br>
			{% if status == 'a' %}
				<a id = 'status_text'>Status:</a>
				<select name = 'status' id = 'status_field' required>
					<option value = 'admin'>Admin</option>
					<option value = 'user' selected>User</option>
				</select>
				<br>
			{% endif %}
			<a>Username:</a><input type = 'text' name = 'username' id = 'username_field' required><br>
			<a>Password:</a><input type = 'password' name = 'password' id = 'password_field' required><br>
			<a>Repeat password:</a><input type = 'password' name = 'repeat_password' id = 'repeat_password_field' required><br>
			<a id = 'validation_error_msg' align = 'center'>Please fill in all fields correctly!<br></a>
			<a id = 'passwords_dont_match_error_msg' align = 'center'>Passwords don't match!<br></a>
			<a id='error_msg_container'></a>
			<button id = 'register_button'>Add user</button>
			<a id = 'wait_msg'>Just a second...</a>
		</fieldset>


		<div id='instructions'>
			<p>Instructions how to prepare the googlesheet to work:</p>
			<ol>
				<li>Go to <a href='https://sheets.google.com' target='_blank'>sheets.google.com</a> and create a new googlesheet</li>
				<li>Print button "Share" (in the right top corner)</li>
				<li>Share the googlesheet with this account:<br>account@sheets-266111.iam.gserviceaccount.com</li>
				<li>The googlesheet is now ready to work!<br>Now, copy it's URL-address and paste it to the "Link to the googlesheet" field in the registration form</li>
			</ol>
		</div>


		<script src='/static/js/add-user.js'></script>
	</body>
</html>