<!DOCTYPE html>
<html>
	<head>
		<title>Change password</title>


		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/change-password.css'>
	</head>
	<body>
		{% include 'includes/navbar.html' with username=client.account.username status=client.status %}


		{% csrf_token %}


		<div id='container'>
			<p>Password:</p>
			<input type='password' id='old-password-field'>
			<br>
			<p id='wrong-password-msg'>Wrong password</p>
			<p>New password:</p>
			<input type='password' id='new-password-field'>
			<br>
			<p>Repeat new password:</p>
			<input type='password' id='repeat-new-password-field'>
			<p id='passwords-dont-match-error-msg'>Passwords don't match</p>
			<button id='change-password'>Change password</button>
			<br>
			<a id='wait-msg'><br>Just a second...</a>
		</div>


		<script src='/static/js/change-password.js'></script>
	</body>
</html>