<!DOCTYPE html>
<html>
	<head>
		<title>Load PDF file</title>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/load-pdf-file.css'>
	</head>
	<body>
		{% include 'includes/navbar.html' with username=username status=status %}


		{% csrf_token %}


		<div id='content'>
			<input type='file' name='pdf-file' id='pdf-file-input' multiple />
			<label for='pdf-file-input' id='pdf-input-label'>Upload PDF-files</label>
			<p id='uploaded-files-hint'>0 file(s) uploaded</p>
			<br>
			<button id='load-file-btn'>Parse files</button>
			<br>
			<a class='result-text' href='https://docs.google.com/spreadsheets/d/{{ client.google_sheet_id }}/edit#gid=0' target='_blank'>Link to your googlesheet</a>
			<br>
			<p id='result-field' class='result-text'></p>
			<!--
			<p id='results-saved-msg'>Results were written to <a id='google-sheet-link' target='_blank'>the googlesheet</a></p>
			-->
		</div>


		<script src='/static/js/load-pdf-file.js'></script>
	</body>
</html>