<!DOCTYPE html>
<html>
	<head>
		<title>Load PDF file</title>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/load-pdf-file.css'>
	</head>
	<body>
		{% include 'includes/navbar.html' with username=username status=status %}


		{% csrf_token %}


		<div id='content'>
			<div class='tooltip-block'>
				<div id='write-data-in-block'>
					<a>Write data to the googlesheet to the row number:</a>
					<input type='number' id='next-row-to-write-data-field'
						   value={{ client.next_row_to_write_data }}>
				</div>
				<span class='tooltip'>You can choose google sheet row</span>
			</div>
			<br>
			<br>
			<input type='file' name='pdf-file' id='pdf-file-input' multiple />
			<label for='pdf-file-input' id='pdf-input-label'>Upload PDF-files</label>
			<p id='uploaded-files-hint'>0 file(s) are uploaded</p>
			<br>
			<button id='load-file-btn'>Scan files</button>
			<br>
			<a class='result-text' href='https://docs.google.com/spreadsheets/d/{{ client.google_sheet_id }}/edit#gid=0' target='_blank'>Link to your googlesheet</a>
			<br>
			<br>
			<p id='result-field' class='result-text'></p>
			<br>
			<div id='parsed-files-block'>
				<a>Successfully scaned file(s):</a>
				<ul id='parsed-files'></ul>
			</div>
			<br>
			<div id='error-files-block'>
				<a>Not scaned file(s):</a>
				<ul id='error-files'></ul>
			</div>
		</div>


		<script src='/static/js/load-pdf-file.js'></script>
	</body>
</html>