<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/login.css'>
	</head>
	<body>
		{% include 'includes/navbar.html' with username=username status=status %}


		{% csrf_token %}


		<section>
			<input type = 'text' name = 'username' placeholder='Username' id = 'username_field'><br>
			<input type = 'password' name = 'password' placeholder='Password' id = 'password_field'>
			<a id = 'forgot_password_msg' href = '/restore_password/'><small>Forgot password?</small></a>
			<button id='login-btn'>Login</button>
			<br>
			<a id = 'processing_login'>Just a second...</a>
			<br>
			<p id = 'login_error'>Wrong login or password</p>
			<p id='error_msg_container'></p>
		</section>


		<script src='/static/js/login.js'></script>
	</body>
</html>