<!DOCTYPE html>
<html>
	<head>
	    <title>Registration</title>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


		<link rel='stylesheet' type='text/css' href='/static/css/main.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/navbar.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/registration.css'>
	</head>
	<body>
		{% include 'includes/navbar.html' with username=username status=status %}


		{% csrf_token %}


		<fieldset id = 'fieldset' align = 'right'>
			<legend align = 'center' id = 'legend'><a>Attention! All fields are required!</a></legend>
			<a>Name:</a><input type = 'text' name = 'name' id = 'name_field' required><br>
			<a>Email:</a><input type = 'email' name = 'email' id = 'email_field' required><br>
			<a>Username:</a><input type = 'text' name = 'username' id = 'username_field' required><br>
			<a>Password:</a><input type = 'text' name = 'password' id = 'password_field' required><br>
			<a>Repeat password:</a><input type = 'text' name = 'repeat_password' id = 'repeat_password_field' required><br>
			<a>Link to your google sheet:</a><input type = 'text' name = 'repeat_password' id = 'google-sheet-id' required>
			<p id='error_container'>
				<a id='error_msg_container'></a>
			</p>
			<button id='register_button'>Register</button>
			<a id='wait_msg'>Just a second...</a>
		</fieldset>


		<div id='instructions'>
			<p>Instructions how to prepare your googlesheet to work:</p>
			<ol>
				<li>Go to <a href='https://sheets.google.com' target='_blank'>sheets.google.com</a> and create a new googlesheet</li>
				<li>Print button "Share" (in the right top corner)</li>
				<li>Share your googlesheet with this account:<br>account@sheets-266111.iam.gserviceaccount.com</li>
				<li>Your googlesheet is now ready to work!<br>Now, copy it's URL-address and paste it to the "Link to your googlesheet" field in the registration form</li>
			</ol>
		</div>


		<script src='/static/js/registration.js'></script>
	</body>
</html>