#content {
	position: relative;
	left: 35%;
}

#content > * {
	position: relative;
	left: 5%;
}

#pdf-file-input,
#results-saved-msg {
	display: none;
}

#google-sheet-link {
	text-decoration: none;
}

#pdf-input-label {
	margin-top: 40px;
	padding: 10px;
	font-size: 1.2em;
	color: #00802b;
	background-color: transparent;
	border: 1px solid #00802b;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
#pdf-input-label:hover {
	color: linen;
	background-color: #00802b;
}

#load-file-btn {
	padding: 10px 15px;
	background: transparent;
	border: 1px solid blue;
	border-radius: 5px;
	color: blue;
	transition: 0.3s;
	display: block;
	cursor: pointer;
	outline: none;
}
#load-file-btn:hover {
	background: blue;
	border: 1px solid transparent;
	color: white;
}


.result-text {
	text-decoration: none;
}

#parsed-files-block,
#error-files-block {
	display: none;
}


#write-data-in-block {
	margin-bottom: 20px;
}


#next-row-to-write-data-field {
	width: 50px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
	outline: none;
}


.tooltip-block {
	position: relative;
	display: inline-block;
}


.tooltip-block .tooltip {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -60px;
}


.tooltip-block .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


.tooltip-block:hover .tooltip {
	visibility: visible;
}