#wrong_username_msg,
#wrong_email_msg,
#wait_msg1, #wait_msg2,
#email_sent_msg1,
#email_sent_msg2 {
	display: none;
}


#container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	align-items: right;
}


#container input {
	height: 30px;
	width: 250px;
	padding: 1px 12px;
	border: 1px solid black;
	border-radius: 3px;
}


#container button {
	padding: 9px 15px;
	background: transparent;
	border: 1px solid blue;
	border-radius: 5px;
	color: blue;
	transition: 0.3s;
	cursor: pointer;
	outline: none;
}
#container button:hover {
	background: blue;
	border: 1px solid transparent;
	color: white;
}
