<nav>
	<ul>
		<div class = 'nav_left'>
			{% if username %}
				<li><a href = '/'>Home</a></li>
				{% if status == 'a' %}
					<li><a href = '/add-user/'>Add new user</a></li>
				{% endif %}
				<li><a href = '/api/logout/'>Logout ({{ username }})</a></li>
			{% else %}
				<li><a href = '/login/'>Login</a></li>
				<li><a href = '/registration/'>Registration</a></li>
			{% endif %}
		</div>
		<div class = 'nav_right'>
			{% if username and status == 'a' %}
				<li><a href = '/admin/' target='_blank'>Admin</a></li>
			{% endif %}
		</div>
	</ul>
</nav>